*.py[co]

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg

# Vagrant
.vagrant

# Installer logs
pip-log.txt

# NPM
npm-debug.log

# Unit test / coverage reports
.coverage
.tox

# Django files
include
lib
local
man
share
Scripts
.Python
*.pyc
*~
*.db
*.sqlite3
