{% extends "SudoCool/base.html" %}

{% block content %}
    <form id="getSudokuForm" action="{% url 'sudocool:puzzle' %}" method="post">
        {% csrf_token %}
        <input id="puzzleURL" name="puzzleURL" type="text" placeholder="Enter sudoku.com.au URL to get puzzle"/>
        <input type="submit" value="Get" class="button"/>
    </form>
    <form id="solveSudocoolForm" action="{% url 'sudocool:solve' %}" method="post">
        <input type="hidden" id="puzzleString" value="{{ puzzle }}"/>
        <div class="sudocool-container">
            {% include "sudocool/_sudocooltable.html" %}
            {% csrf_token %}
            <input type="submit" value="Solve" class="button"/>
        </div>
    </form>
{% endblock %}
