{% extends "SudoCool/base.html" %}

{% block content %}
    <div class="row">
        <div class="large-12 columns">
            <h1>Welcome to SudoCool!</h1>
            <p>Enter your board below to get started</p>
            <form id="solveSudocoolForm" action="{% url 'sudocool:solve' %}" method="post">
                <div class="sudocoolContainer">
                    {% include "sudocool/_sudocooltable.html" %}
                    <br/>
                    <br/>
                    {% csrf_token %}
                    <input type="submit" value="Solve" class="button"/>
                </div>
            </form>
        </div>
    </div>
{% endblock %}