div.sudocoolContainer {
    margin: 0px;
    padding: 0px;
    display: inline-block;
}

div.sudocoolContainer > div.sudocoolTable {
    margin: 0px;
    padding: 0px;
    display: inline-block;
}

div.sudocoolContainer > div.sudocoolTable > div.sudocoolRow {
    margin: 0px;
    padding: 0px;
    display: inline-block;
}

div.sudocoolContainer > div.sudocoolTable > div.sudocoolRow > div.sudocoolCol {
    margin: 10px;
    padding: 0px;
    display: inline-block;
    float: left;
}

div.sudocoolContainer > div.sudocoolTable > div.sudocoolRow > div.badCol {
    border: 2px solid red;
}

div.sudocoolContainer > div.sudocoolTable > div.sudocoolRow > div.sudocoolCol > input {
    margin: 0px;
    padding: 0px;
}

/*table.sudocoolTable {
    border-collapse: collapse;
    border: 1px solid black;
    margin: 0px;
    padding: 0px;
}

table.sudocoolTable > tbody > tr,
table.sudocoolTable > tr {
    margin: 0px;
    padding: 0px;
}

table.sudocoolTable > tbody > tr > td,
table.sudocoolTable > tr > td {
    margin: 0px;
    padding: 0px;
    float: left;
    border: 1px solid black;
}

table.sudocoolTable > tbody > tr > td > div,
table.sudocoolTable > tr > td > div {
    padding: 0px;
    margin: 0px;
}

table.sudocoolTable > tbody > tr > td > div > input,
table.sudocoolTable > tr > td > div > input {
    padding: 0px;
    margin: 0px;
}*/